Steps to get it up and running: 
## Delete the lamdba triggers connected to kinesis stream
# Start the endpoint;
# Verify the SNS and SQS exist
# Start the Kinesis dataStream;
# Create the Triggers on lambda; Wait for 5mins;
# Run KickSart.ipnb
git add README.md
git commit -m "Update README with <your change summary>"
git push
